# This file is used to define code ownership for the project.
# Each line in this file should be in the following format:
#   path/to/code/files @username

# Ownership for all files in this project
* @TruongNhanNguyen
