attrs==23.1.0
autopep8==2.0.2
contourpy==1.1.0
matplotlib==3.7.2
numpy==1.25.2
Pillow==10.0.0
pre-commit==3.3.3
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
ruff==0.0.280
scipy==1.11.1
six==1.16.0
sympy==1.12
